#farmInfoSection {
    background-color: #fff;
    margin-top: 25px;
}
#farmPic {
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    margin: 1% 0 5%;
    width: 90%;
}
#farmPicContainer {
    text-align: center;
}
#farmInfoContainer {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    margin: 0 auto 5%;
    padding: 0;
    width: 90%;
}
#farmInfoHeading {
    background-color: #ddb26e;
    color: #fff;
    font-weight: bold;
    margin: 0 auto 1%;
    padding: 0;
}
#farmInfoHeading h3 {
    font-weight: bold;
    margin: 0;
    padding: 5px;
}
#farmInfoDetailsContainer h4 {
    color: #73502a;
    font-weight: bold;
    margin: 5% 0;
    text-align: center;
}
.farmInfoIcons {
    text-align: center;
}
.farmInfoIcons img {
    width: 25%;
}
.farmInfoCards span {
    font-weight: bold;
}
#mapImg {
    width: 100%;
}
.farmInfoCards:nth-child(4) {
    margin-bottom: 4%;
}



/**Carousel Section Classes**/
.well {
    background-color: #fff;
    border: medium none;
    box-shadow: none;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.carousel-control {
    background-color: rgba(0, 0, 0, 0);
    bottom: 0;
    color: #73502a;
    font-size: 70px;
    left: 0;
    opacity: 1;
    padding: 5% 2%;
    position: absolute;
    text-align: center;
    text-shadow: none;
    top: 0;
    width: 5%;
}
.carousel-control:hover {
    color: #0e0604;
}
.carouselCards h4 {
    color: #333;
    font-weight: bold;
    text-align: center;
}
#carouselHeading h3 {
    background-color: #73502a;
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    width: 90%;
}
.carousel-control.left {
    background-image: url("../imgs/leftIcon.png");
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.carousel-control.right {
    background-image: url("../imgs/rightIcon.png");
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.carousel-indicators li {
    border: 1px solid #73502a;
}
.carousel-indicators .active {
    background-color: #73502a;
}


.productThumbnailsHeadings {
    background-color: transparent !important;
    padding: none;
    margin: none;
} 
#farm_map{
    height: 30vh;
    vertical-align: middle;
}

.prodInfoIconHeadings button {
    background-color: #ddb26e;
    border: 1px solid #ddb26e;
}
.prodInfoIconHeadings button:hover, .prodInfoIconHeadings button:active, .prodInfoIconHeadings button:focus {
    background-color: #73502a;
    border: 1px solid #73502a;
}
.prodInfoIconHeadings button span {
    margin-right: 5px;
}
.btn-info{
    text-align: right !important;
}