<link href="/bootstrap/css/shop-homepage.css" rel="stylesheet">
<link href="/css/producers.css" rel="stylesheet">
<div class='container-fluid'>
<title>Home</title>
    <div class="row">
        <br/>
        <div class='pagetitle'>Home</div>
        <div class='pagesubtitle'></div>
    </div>
    <div class="aside col-sm-2 col-sm-offset-1 col-lg-2 col-lg-offset-1 col-md-1 col-md-offset-1">
        <div class="aside-title">
        </div>
        <div>
            <ul>
                <div class='row'>
                    <li>
                        <a href="?content=Coffee_in_Costa_Rica">Coffee in Costa Rica</a>
                    </li>
                </div>
                <div class='row'>
                    <li>
                        <a href="?content=onDevelopment">Best coffee in the world</a>
                    </li>
                </div>
                <div class='row'>
                    <li>
                        <a href="?content=onDevelopment">The coffee culture</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div>
        <div class="col-sm-3 col-lg-3 col-md-3">
            <div class="farm-box-no-title">
                <div class="farm-box-title">
                </div>
                <div class="farm-box-img">
                    <img src="img/Fotos/home3.jpg"></img>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-lg-3 col-md-3">
            <div class="farm-box-no-title">
                <div class="farm-box-title">
                </div>
                <div class="farm-box-img">
                    <img src="img/Fotos/home2.jpg"></img>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-lg-3 col-md-3">
            <div class="farm-box-no-title">
                <div class="farm-box-img">
                    <img src="img/Fotos/home1.jpg"></img>
                </div>
            </div>
        </div>
    </div>
    <div class="regionInfo col-sm-9 col-sm-offset-3 col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3">
        <p>
            We are the premier e-commerce site for gourmet coffee in the world. Our site is operated directly
			by coffee producers in Costa Rica, who sold their own coffee without intermediaries.These
			producers are winners of the Cup of Excellence in Costa Rica, prestigious competition organized to
			reward the best coffees produced every year in Costa Rica. In this way, we can bring you the best
			coffee in the world directly to your taste.<br/>
			By buying our coffees, you are not only obtaining the best-quality coffee, but also helping the small
			coffee-farmers in our Costa Rica. You also will be able to learn their stories, which make their
			coffees so special.<br/>
			Enjoy this site and sip an astonishing cup of coffee in the company of your family and friends, or
			alone dreaming you will be soon enjoying our beautiful jungles, our majestic volcanoes, or simply
			our secluded beaches.<br/>
        </p>
    </div>
</div>
