{% extends "layout.html.twig" %}

{% block title%}CR Gourmet Coffee{% endblock %}
{% block body %}
<main>
<div class='container'>
	<center>
	    <h2 class="center-block jumbotron ">
	        <br/>Oooops...<br/>
	        This page doesn't exist please try another page or go <a href=" {{ path('page_homepage', {'page': 'home' }) }}">Home</a>
	    </h2>
    </center>
</div>
</main>
{% endblock %}