{% extends "layout.html.twig" %}

{% block title%}CR Gourmet Coffee{% endblock %}
{% block body %}
<main>
		<section id='mainBanner'>
			<div id='banner'>
				<img src='/web/public/imgs/logo.png' id='siteLogo'>
			</div>
		</section>
		<div class='clearfix'></div>
		<section id='productsShowcase'>
			<div class="row col-xs-12 col-md-10 col-md-offset-1">
				<div class="productThumbnails col-xs-12 col-md-6 col-lg-4">
					<div class='prodThumbInside'>
						<div class="productThumbnailsHeadings">
							<h4>Chumbal</h4>
						</div>
						<img src="/web/public/imgs/coffeeBag1.png">
						<p></p>
						<div class='productDetailsContainer row'>
							<a href="#" class='productDetails col-xs-6 col-md-5 col-md-offset-1'>
								<p>Rank</p>
							</a>
							<a href="#" class='productDetails col-xs-6 col-md-5'>
								<p>3 Reviews</p>
							</a>
							<a href="#" class='productDetails col-xs-6 col-md-5 col-md-offset-1'>
								<p></p>
							</a>
							<a href="#" class='productDetails col-xs-6 col-md-5'>
								<p>340g/12 oz</p>
							</a>
						</div>
					</div>
				</div>

				<div class="productThumbnails col-xs-12 col-md-6 col-lg-4">
					<div class='prodThumbInside'>
						<div class="productThumbnailsHeadings">
							<h4>Solela</h4>
						</div>
						<img src="/web/public/imgs/coffeeBag2.png">
						<p></p>
						<div class='productDetailsContainer row'>
							<a href="#" class='productDetails col-xs-6 col-md-5 col-md-offset-1'>
								<p>Rank</p>
							</a>
							<a href="#" class='productDetails col-xs-6 col-md-5'>
								<p>3 Reviews</p>
							</a>
							<a href="#" class='productDetails col-xs-6 col-md-5 col-md-offset-1'>
								<p></p>
							</a>
							<a href="#" class='productDetails col-xs-6 col-md-5'>
								<p>340g/12 oz</p>
							</a>
						</div>
					</div>
				</div>

				<div class="productThumbnails col-xs-12 col-md-6 col-lg-4">
					<div class='prodThumbInside'>
						<div class="productThumbnailsHeadings">
							<h4>Reeba</h4>
						</div>
						<img src="/web/public/imgs/coffeeBag3.png">
						<p></p>
						<div class='productDetailsContainer row'>
							<a href="#" class='productDetails col-xs-6 col-md-5 col-md-offset-1'>
								<p>Rank</p>
							</a>
							<a href="#" class='productDetails col-xs-6 col-md-5'>
								<p>3 Reviews</p>
							</a>
							<a href="#" class='productDetails col-xs-6 col-md-5 col-md-offset-1'>
								<p></p>
							</a>
							<a href="#" class='productDetails col-xs-6 col-md-5'>
								<p>340g/12 oz</p>
							</a>
						</div>
					</div>
				</div>

				<div class="productThumbnails col-xs-12 col-md-6 col-lg-4">
					<div class='prodThumbInside'>
						<div class="productThumbnailsHeadings">
							<h4>Solela</h4>
						</div>
						<img src="/web/public/imgs/coffeeBag2.png">
						<p></p>
						<div class='productDetailsContainer row'>
							<a href="#" class='productDetails col-xs-6 col-md-5 col-md-offset-1'>
								<p>Rank</p>
							</a>
							<a href="#" class='productDetails col-xs-6 col-md-5'>
								<p>3 Reviews</p>
							</a>
							<a href="#" class='productDetails col-xs-6 col-md-5 col-md-offset-1'>
								<p></p>
							</a>
							<a href="#" class='productDetails col-xs-6 col-md-5'>
								<p>340g/12 oz</p>
							</a>
						</div>
					</div>
				</div>

				<div class="productThumbnails col-xs-12 col-md-6 col-lg-4">
					<div class='prodThumbInside'>
						<div class="productThumbnailsHeadings">
							<h4>Reeba</h4>
						</div>
						<img src="/web/public/imgs/coffeeBag3.png">
						<p></p>
						<div class='productDetailsContainer row'>
							<a href="#" class='productDetails col-xs-6 col-md-5 col-md-offset-1'>
								<p>Rank</p>
							</a>
							<a href="#" class='productDetails col-xs-6 col-md-5'>
								<p>3 Reviews</p>
							</a>
							<a href="#" class='productDetails col-xs-6 col-md-5 col-md-offset-1'>
								<p></p>
							</a>
							<a href="#" class='productDetails col-xs-6 col-md-5'>
								<p>340g/12 oz</p>
							</a>
						</div>
					</div>
				</div>

				<div class="productThumbnails col-xs-12 col-md-6 col-lg-4">
					<div class='prodThumbInside'>
						<div class="productThumbnailsHeadings">
							<h4>Chumbal</h4>
						</div>
						<img src="/web/public/imgs/coffeeBag1.png">
						<p></p>
						<div class='productDetailsContainer row'>
							<a href="#" class='productDetails col-xs-6 col-md-5 col-md-offset-1'>
								<p>Rank</p>
							</a>
							<a href="#" class='productDetails col-xs-6 col-md-5'>
								<p>3 Reviews</p>
							</a>
							<a href="#" class='productDetails col-xs-6 col-md-5 col-md-offset-1'>
								<p></p>
							</a>
							<a href="#" class='productDetails col-xs-6 col-md-5'>
								<p>340g/12 oz</p>
							</a>
						</div>
					</div>
				</div>

			</div>


		</section>
		<div class='clearfix'></div>
		<section id='siteInfoSection' class='container-fluid'>
			<div class="row">
				<div id='siteInfo' class="col-xs-12 col-md-8"></div>
				<div id='siteInfoText' class="col-xs-12 col-md-4">
					<h3>
                        <p>
                            We bring you the best coffee from Costa Rica.<br/>
                            Our site is operated by high-quality Costa Rican producers, who sell directly their own coffee without intermediaries.
                            These producers have been winners of the Cup of Excellence – prestigous contest to reward coffee quality.
                        </p>
                    </h3>
				</div>
			</div>
		</section>

	</main>
{% endblock %}