{% extends "layout.html.twig" %}

{% block title%}CR Gourmet Coffee{% endblock %}
{% block body %}
<main>
<div class='container'>
	<center>
	    <h2 class="center-block jumbotron ">
	        <br/>Oooops...<br/>
	        This page is under development....
	    </h2>
    </center>
</div>
</main>
{% endblock %}