{% extends "layout.html.twig" %}

{% block title%}CR Gourmet Coffee{% endblock %}
{% block body %}
<main>
<div class='container'>
    <p class="center-block pagetitle jumbotron ">
        <br/>Oooops...<br/>
        This page is under development....
    </p>
</div>
</main>
{% endblock %}