{% extends "layout.html.twig" %}

{% block title%}On Development{% endblock %}
{% block body %}
<main>
	<center>
	    <h2 class="center-block">
	        <br/>Oooops...<br/>
	        This page is under development....
	    </h2>
    </center>
</main>
{% endblock %}