{% extends "layout.html.twig" %}

{% block title%}Error{% endblock %}
{% block body %}
<main>
	<center>
	    <h2 class="center-block">
	        <br/>Oooops...<br/>
	        This page doesn't exist please try another page or go <a href=" {{ path('page_homepage', {'page': 'home' }) }}">Home</a>
	    </h2>
    </center>
</main>
{% endblock %}