{% extends "layout.html.twig" %}

{% block title%} Farm Information {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/web/public/css/login.css')}}" />
{% endblock %}

{% block body %}
<main style="background-image:url('/web/public/imgs/coffeeGrains.png');">

<div id="login-modal" >
          <div class="modal-dialog">
                <div class="loginmodal-container">
                    <h1>Sign in</h1><br>
                  <form>
                    <input type="text" name="user" placeholder="Username">
                    <input type="password" name="pass" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                  </form>
                    
                  <div class="login-help">
                    <a href="#">Sign up</a>
                  </div>
                </div>
            </div>
          </div>
</main>
{% endblock %}