.aside {
    height: inherit;
}


.row{
    margin-top:15px;
}
.aside-title{
    font-size:x-large;
    text-align: left;
}
.farm-box{
    color:white;
    background-color:black;
    margin-top:10px;
    margin-bottom:10px;
    width:320px;
    height: 310px;
    float:left;
}
.farm-box-no-title{
    color:white;
    background-color:black;
    margin-top:10px;
    margin-bottom:10px;
    width:320px;
    height:250px;
    float:left;
}
.farm-box-title{
    font-size:x-large;
    text-align:center;
}
.farm-box-img img{
    width:320px;
    height: 280px;
}
.regionInfo{
    text-align: justify;
    font-family: sans-serif;
    font-size:  large;
}
