<header class='col-xs-12'>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="home">cr<span>gourmet</span><span>coffee</span></a>
            </div>
            <ul id='mainMenu' class="nav navbar-nav">
                <li class="active"><a href="regions">Regions</a></li>
                <li><a href="farms">Farms</a></li>
                <li><a href="onDevelopment">Awards</a></li>
                <li><a href="onDevelopment">Search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="onDevelopment"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                <li>
                    <a href="onDevelopment"><span class="glyphicon glyphicon-log-in"></span> 0</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class='clearfix'></div>
